In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# importer
df =pd.read_csv("../data/cleaned_data.csv",delimiter=";", decimal=".")
df.head()

# divide the dataset in x en Y

  id,building_type,building_subtype,price,living_area,frontages,bedrooms,bathrooms,liv_room_surf,kitchen_type,showers,toilets,basement,terrace,garden,elevator,swimming_pool,status_build,furnished,energy_class,heating,flood_zone,surroundings,zipcode,municipality,province
0  10567498,apartment,apartment,730000.0,212.0,3....
1  10567435,apartment,loft,775000.0,258.0,2.0,2.0...
2  10557731,apartment,apartment,99000.0,94.0,4.0,...
3  10567501,apartment,apartment,730000.0,212.0,3....
4  10557727,apartment,apartment,219000.0,111.0,2....