In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# importer
df =pd.read_csv("../data/cleaned_data.csv")
# print(df.isnull().sum())


# removing bedrooms, liv_room_surf, frontages, bathrooms, id, basement,elevator
# surroundings,flood_zone,heating, showers, toilets, furnished, energy_class, heating,flood_zone
df = df.drop(columns = ["kitchen_type", "status_build","bedrooms", "liv_room_surf", "frontages", "bathrooms", "id", "basement","elevator", "surroundings","flood_zone", "heating", "showers","toilets", "furnished", "heating","flood_zone"])

#dropna living_area, price
df = df.dropna(subset=["living_area", "price"])

#replace swimming_pool None with 0
df["swimming_pool"] = df["swimming_pool"].fillna(0)


print(df.isnull().sum())
print(df)

building_type       0
building_subtype    0
price               0
living_area         0
terrace             0
garden              0
swimming_pool       0
energy_class        0
zipcode             0
municipality        0
province            0
dtype: int64
     building_type building_subtype     price  living_area  terrace  garden
0        apartment        apartment  730000.0        212.0      0.0     0.0  \
1        apartment             loft  775000.0        258.0      0.0     0.0
2        apartment        apartment   99000.0         94.0      0.0     0.0
3        apartment        apartment  730000.0        212.0      0.0     0.0
4        apartment        apartment  219000.0        111.0      0.0   200.0
...            ...              ...       ...          ...      ...     ...
9336         house            house  427000.0        180.0     40.0     0.0
9337         house            house  495000.0        130.0      0.0     0.0
9338         house            house  495000.0        262.0      0.0     0.0
9339         house            house  284000.0        146.0     44.0   425.0
9340         house            house  489000.0        200.0      0.0   130.0

      swimming_pool  energy_class  zipcode         municipality
0               0.0           2.0     1050              Ixelles  \
1               0.0           7.0     3020             Winksele
2               0.0           3.0     4820                Dison
3               0.0           2.0     1060         Saint-Gilles
4               0.0           6.0     4680               Oupeye
...             ...           ...      ...                  ...
9336            0.0           7.0     8970           Reningelst
9337            0.0           4.0     1325  Tourinnes-La-Grosse
9338            0.0           5.0     9000                 Gent
9339            0.0           3.0     4560             Terwagne
9340            0.0           6.0     2240            Zandhoven

                     province
0     Brussels Capital Region
1             Flemish Brabant
2                       Liège
3     Brussels Capital Region
4                       Liège
...                       ...
9336            West Flanders
9337          Walloon Brabant
9338            East Flanders
9339                    Liège
9340                  Antwerp

[9172 rows x 11 columns]